@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
body {
  background-color: rgb(114, 76, 6);
}
header {
  background-color: #1b3039;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 5px 10%;
}

header img {
  height: 15px;
  width: auto;
}
li {
  display: inline-block;
  padding: 0 25px;
  background-color: rgb(114, 76, 6);
  border-radius: 10px;
  margin: 0 10px;
}

li:hover {
  transform: scale(1, 2);
  color: #000;
}

.nav-links {
  list-style-type: none;
}

a {
  font-size: 700;
  color: azure;
  text-decoration: none;
}

a:hover {
  color: black;
}

img {
  height: 420px;
  width: auto;
  border-radius: 9px;
}
.logo {
  cursor: pointer;
}

/* img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
} */

button {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  color: #1b3039;
  background-color: #eceff1;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 0.8rem;
}

.active {
  background-color: rgb(78, 46, 3);
  color: #f5ebeb;
  border: none;
}
button:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

main {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}
.seccionUno {
  padding: 40px;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 70px;
}

.seccionUno .img {
  width: 300px;
}
.slogan {
  width: 50%;
}
.slogan h1 {
  font-size: 2.5rem;
}
p {
  padding: 35px 0;
}
.botones {
  padding-bottom: 80px;
}

.seccionDos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccionDos p {
  margin: 0 auto;
  color: azure;
  padding: 40px 200px;
}
