@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 5px;
}
body {
  /* background-color: rgb(114, 76, 6); */
  background-image: url(./img/thumb2-4k-coffee-beans-texture-close-up-arabica-brown-backgrounds.jpg);
}
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
  width: 100%;
  opacity: 0.7;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

.navbar {
  display: flex;
}
.navbar i {
  font-size: 38px;
  display: none;
}

#toggle-menu {
  display: none;
}

.navbar-link {
  text-decoration: none;
  font-weight: 700;
  color: azure;
}
header img {
  height: 50px;
  width: auto;
}
li {
  padding: 0 25px;
  background-color: rgb(114, 76, 6);
  border-radius: 10px;
}

li:hover {
  transform: scale(1, 1);
  color: #000;
}

a:hover {
  color: black;
}

.logo {
  cursor: pointer;
}

/* img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
} */

button {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  color: #1b3039;
  background-color: #eceff1;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 0.8rem;
}

.active {
  background-color: rgb(78, 46, 3);
  color: #f5ebeb;
  border: none;
}
button:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

.seccionUno {
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 700px;

  background-image: radial-gradient(
    circle at 46.51% 51.27%,
    #9c9a1f 0,
    #9d8d19 10%,
    #997e15 20%,
    #926e12 30%,
    #875c10 40%,
    #784a0e 50%,
    #68390c 60%,
    #592a0a 70%,
    #4c1e06 80%,
    #401502 90%,
    #370c00 100%
  );
  /*  rgb(238, 184, 104); */
  margin-bottom: 40px;
  border: #e2f1f8 solid 40px;
  border-radius: 90px;
}

.seccionUno .slogan {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  width: 50%;
  padding-left: 5px;
  border-radius: 40px;
}

.seccionUno .imagen {
  min-height: 350px;
  background-color: transparent;
}

.seccionUno .imagen img {
  border-radius: 10px;
  height: 360px;
  padding-right: 10px;
}

.seccionUno .slogan h1 {
  font-size: 4rem;
  color: transparent;
  background-image: radial-gradient(
    circle at 50% 50%,
    #ffffff 0,
    #fffff6 25%,
    #f4efd5 50%,
    #b2b2b4 75%,
    #7d7d95 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
  font-size: 2rem;
}
p {
  padding: 35px 20px;
}
.botones {
  padding-bottom: 80px;
}

.seccionDos {
  background-color: #000;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  display: flex;
}
.seccionDos p {
  color: azure;
  padding: 40px 200px;
}
/*===================Info - Section===============*/
#info {
  padding: 70px 0;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
#info h2 {
  padding: 20px;
  color: azure;
  border: solid 2px whitesmoke;
}
.info-cards-container {
  display: flex;
  gap: 40px;
}
.info-card {
  margin-top: 50px;
  /*   background-color: rgb(49, 29, 4); */
  background-image: radial-gradient(
    circle at 46.51% 51.27%,
    #9c9a1f 0,
    #9d8d19 10%,
    #997e15 20%,
    #926e12 30%,
    #875c10 40%,
    #784a0e 50%,
    #68390c 60%,
    #592a0a 70%,
    #4c1e06 80%,
    #401502 90%,
    #370c00 100%
  );
  width: 300px;
  height: 290px;
  border-radius: 20px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card img {
  height: 60px;
  width: auto;
}
.info-card p {
  text-align: center;
  font-size: 14px;
  color: rgb(23, 24, 24);
}
.info-card h3 {
  margin-top: 20px;
  color: rgb(8, 8, 8);
}

footer {
  background-color: rgb(78, 46, 3);
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: #e2f1f8 solid 40px;
  border-radius: 90px;
}
footer .footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer .footer-caja-iz {
  padding: 40px;
  background-image: radial-gradient(
    circle at 46.51% 51.27%,
    #9c9a1f 0,
    #9d8d19 10%,
    #997e15 20%,
    #926e12 30%,
    #875c10 40%,
    #784a0e 50%,
    #68390c 60%,
    #592a0a 70%,
    #4c1e06 80%,
    #401502 90%,
    #370c00 100%
  );
  width: 400px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.footer .footer-caja-iz h1 {
  padding-left: 50px;
}
.footer .footer-caja-der {
  border-radius: 15px;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 120px;
  border-radius: 0 0 50px 50px;
}

/*===================media query=============*/

@media (max-width: 1200px) {
  .seccionUno {
    flex-direction: column;
    align-items: center;
    width: 60%;
    justify-content: space-between;
  }

  .seccionUno .slogan {
    width: 100%;
    min-height: 700px;
  }

  h2 {
    font-size: 2rem;
  }
  .seccionUno .slogan h1 {
    font-size: 3.5rem;
  }
  .seccionUno .slogan .botones {
    flex-direction: row;
  }
  .seccionUno .imagen {
  }

  .seccionDos {
    display: flex;
    width: 60%;
    background-color: #000;
    flex-wrap: wrap;
  }
  .seccionDos p {
    flex-direction: column;
    color: azure;
    padding: 40px 70px;
  }
}

/*=======================================*/

@media only screen and (max-width: 980px) {
  .seccionUno {
    background-color: rgb(114, 76, 6);
    width: 400px;
  }

  .seccionUno .slogan {
    background-color: #ffbc0e;
    width: 500px;
  }

  .seccionUno .slogan h1 {
    font-size: 1.5rem;
    color: rgb(143, 71, 21);
  }

  h2 {
    font-size: 1rem;
    color: antiquewhite;
  }

  .imagen {
    background-color: #ffbc0e;
    width: 500px;
    padding-left: 38px;
    padding-bottom: 40px;
  }
  .seccionUno .imagen {
    margin-top: -100px;
  }

  .navbar ul {
    background-color: white;
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .navbar i {
    display: block;
  }

  #toggle-menu:checked ~ .navbar-list {
    display: flex;
  }
}

@media (max-width: 680px) {
  body {
    background-color: rgb(0, 38, 255);
  }

  .seccionUno {
    width: 100%;
    background-color: #ffbc0e;
  }

  .seccionUno .slogan {
    width: 70%;
  }

  h2 {
    font-size: 1rem;
    color: antiquewhite;
  }

  .navbar ul {
    background-color: white;
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .navbar i {
    display: block;
  }

  #toggle-menu:checked ~ .navbar-list {
    display: flex;
  }
}
