@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  list-style: none;
}
body {
  /* background-color: rgb(114, 76, 6); */
  background-image: url(./img/thumb2-4k-coffee-beans-texture-close-up-arabica-brown-backgrounds.jpg);
}
header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
  width: 100%;
  opacity: 0.9;
}

.navbar {
  display: flex;
}

#menu-toogle,
.menu-label {
  display: none;
}

.navbar .navbar-list {
  display: flex;
  font-weight: 700;
  color: azure;
  gap: 1rem;
  align-items: center;
}
.navbar .navbar-list li a {
  color: rgb(245, 243, 241);
  text-decoration: none;
}

.navbar .navbar-list li {
}
.navbar {
  gap: 5rem;
}

header img {
  height: 50px;
  width: auto;
}
li {
  padding: 0 25px;
  background-color: rgb(114, 76, 6);
  border-radius: 10px;
}

li:hover {
  transform: scale(1, 1);
  color: #000;
}

a:hover {
  color: black;
}

/* img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
} */

button {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  color: #1b3039;
  background-color: #eceff1;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 0.8rem;
}

.active {
  background-color: rgb(78, 46, 3);
  color: #f5ebeb;
  border: none;
}
button:hover {
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

.seccionUno {
  margin: 0 auto;
  max-width: 1200px;

  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: radial-gradient(
    circle at 46.51% 51.27%,
    #9c9a1f 0,
    #9d8d19 10%,
    #997e15 20%,
    #926e12 30%,
    #875c10 40%,
    #784a0e 50%,
    #68390c 60%,
    #592a0a 70%,
    #4c1e06 80%,
    #401502 90%,
    #370c00 100%
  );
  /*  rgb(238, 184, 104); */
  margin-bottom: 40px;
  border: #e2f1f8 solid 40px;
  border-radius: 90px;
}

.seccionUno .slogan {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  width: 50%;
  padding-left: 5px;
  border-radius: 40px;
}

.seccionUno .imagen {
  background-color: transparent;
}

.seccionUno .imagen img {
  border-radius: 10px;
  border: #d6d6da solid 2px;
}

.seccionUno .slogan h1 {
  font-size: 4rem;
  color: transparent;
  background-image: radial-gradient(
    circle at 50% 50%,
    #ffffff 0,
    #fffff6 25%,
    #f4efd5 50%,
    #b2b2b4 75%,
    #7d7d95 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
  font-size: 2rem;
}
p {
  padding: 35px 20px;
}
.botones {
  padding-bottom: 80px;
}

.seccionDos {
  background-color: #000;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  display: flex;
}
.seccionDos p {
  color: azure;
  padding: 40px 200px;
}
/*===================Info - Section===============*/
#info {
  padding: 70px 0;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
#info h2 {
  padding: 20px;
  color: azure;
  border: solid 2px whitesmoke;
}
.info-cards-container {
  display: flex;
  gap: 40px;
}
.info-card {
  margin-top: 50px;
  /*   background-color: rgb(49, 29, 4); */
  background-image: radial-gradient(
    circle at 46.51% 51.27%,
    #9c9a1f 0,
    #9d8d19 10%,
    #997e15 20%,
    #926e12 30%,
    #875c10 40%,
    #784a0e 50%,
    #68390c 60%,
    #592a0a 70%,
    #4c1e06 80%,
    #401502 90%,
    #370c00 100%
  );
  width: 300px;
  height: 290px;
  border-radius: 20px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card img {
  height: 60px;
  width: auto;
}
.info-card p {
  text-align: center;
  font-size: 14px;
  color: rgb(23, 24, 24);
}
.info-card h3 {
  margin-top: 20px;
  color: rgb(8, 8, 8);
}

footer {
  background-color: rgb(78, 46, 3);
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: #e2f1f8 solid 40px;
  border-radius: 90px;
}
footer .footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer .footer-caja-iz {
  padding: 40px;
  background-image: radial-gradient(
    circle at 46.51% 51.27%,
    #9c9a1f 0,
    #9d8d19 10%,
    #997e15 20%,
    #926e12 30%,
    #875c10 40%,
    #784a0e 50%,
    #68390c 60%,
    #592a0a 70%,
    #4c1e06 80%,
    #401502 90%,
    #370c00 100%
  );
  width: 400px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.footer .footer-caja-iz h1 {
  padding-left: 50px;
}
.footer .footer-caja-der {
  border-radius: 15px;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-wrap: nowrap;
  border-radius: 0 0 50px 50px;
  padding: 10px;
}

/*================Media Query=======================*/

/*================Media Query=======================*/

@media only screen and (max-width: 998px) {
  .navbar {
    gap: 10px;
    background-color: #401502;
  }

  header {
    opacity: 1;
    background-color: #0a0101;
  }

  .navbar .navbar-list {
    position: absolute;
    top: 80px;
    width: 90%;
    left: 5%;
    right: 5%;
    border: snow solid 2px;
    border-top: 0;
    flex-direction: column;
    background-color: #0a0101;
    border-radius: 0px 0px 15px 15px;
    padding: 45px 30px;

    display: none;
  }

  .navbar .menu-label {
    display: flex;
    cursor: pointer;
  }

  #menu-toggle {
    display: none;
  }

  .navbar #menu-toggle:checked + .navbar-list {
    display: flex;
  }

  .seccionUno {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    min-height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .seccionUno .slogan {
    width: 100%;
  }

  h2 {
    font-size: 2rem;
  }
  .seccionUno .slogan h1 {
    font-size: 3.5rem;
  }
  .seccionUno .slogan .botones {
    flex-direction: row;
  }
  .seccionUno .imagen {
    margin-bottom: 50px;
    border-radius: 20px;
  }

  .seccionDos {
    display: flex;
    width: 60%;
    background-color: #000;
    flex-wrap: wrap;
    border-radius: 40px;
  }
  .seccionDos p {
    flex-direction: column;
    color: azure;
    padding: 40px 70px;
  }

  #info {
    width: 80%;
    border-radius: 30px;
  }

  .info-cards-container {
    flex-direction: column;
  }
  .info-card {
    max-height: 280px;
  }

  footer {
    width: 90%;
    border-radius: 40px;
    gap: 10px;
  }

  .footer {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    min-height: 600px;
  }

  .footer .footer-caja-iz {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer .footer-caja-der img {
    max-width: 250px;
  }
  .footer .footer-caja-der {
    min-width: 200px;
  }
  .imagen {
    border-radius: 0 0 5px 5px;
  }
  .imagen .imagen-interna {
    height: 100px;
    padding: 10px;
  }
}

/*==================Media Query==========================*/

@media (max-width: 580px) {
  .seccionUno {
    margin: 0 auto;
    min-width: 320px;
    border: #e2f1f8 solid 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: none;
    align-items: center;
  }
  .seccionUno .slogan {
    max-width: 300px;
    margin: 0 auto;

    align-items: center;
    justify-content: center;
  }
  .seccionUno .slogan {
    max-width: 300px;
    padding-right: 30px;
  }
  .seccionUno .slogan h1 {
    font-size: 2rem;
  }
  .seccionUno .slogan h2 {
    font-size: 0.8rem;
    color: white;
  }
  .seccionUno .slogan p {
    font-size: 0.8rem;
    color: white;
  }
  .seccionUno .imagen img {
    width: 290px;
    border-radius: 10px;
    border: #f5ebeb solid 20px;
  }
  .seccionUno .slogan .botones {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .seccionDos {
    display: flex;
    width: 60%;
    margin-top: 20px;
    border-radius: 20px;
  }
  .seccionDos p {
    flex-direction: column;
    color: azure;
    padding: 40px 70px;
  }

  #info {
    width: 60%;
    border-radius: 20px;
  }

  .info-cards-container {
    flex-direction: column;
  }
  .info-card {
    max-height: 280px;
  }
  .footer .footer-caja-der img {
    min-width: 200px;
  }

  footer {
    border: #e2f1f8 solid 5px;
    background-color: transparent;
  }
  .imagen {
    border-radius: 0 0 40px 40px;
  }
}
